@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "註冊確認";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            此應用程序當前沒有註冊真實的電子郵件發件人，請參閱
            <a href="https://aka.ms/aspaccountconf">這些文檔</a> 了解如何配置真正的電子郵件發件人。
            通常這將通過電子郵件發送:
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">單擊此處確認您的帳戶</a>
        </p>
    }
    else
    {
        <p>
            請檢查您的電子郵件以確認您的帳戶。
        </p>
    }
}
