@model CountryEnumViewModel

@{
    ViewData["Title"] = "SelectEnum";
}

<h1>SelectEnum</h1>

<form asp-controller="TagHelpers" asp-action="SelectEnum" method="post">
    <select asp-for="EnumerateCountry" asp-items="Html.GetEnumSelectList<CountryEnum>()">
        <option value="">==請選擇國家==</option>
    </select>
    <span asp-validation-for="EnumerateCountry" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section endJS
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}