@model CountryGroupViewModel
@{
    ViewData["Title"] = "SelectOptionGroup";
}

<h1>SelectOptionGroup</h1>

<form asp-controller="TagHelpers" asp-action="SelectOptionGroup" method="post">
    <select asp-for="Country" asp-items="Model.Countries">
    </select>
    <span asp-validation-for="Country" class="text-danger"></span>
    <br /><br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

