@model  DeviceViewModel
@{
    ViewData["Title"] = "SelectedDeviceOptions";
}

<h3>以下是你所選擇的裝置規格:</h3>

<ul>
    <li>RAM : @Model.Ram</li>
    <li>CPU : @Model.Cpu</li>
    <li>GPU : @Model.Gpu</li>
    <li>Storage : @Model.Storage</li>
</ul>