@{
    ViewData["Title"] = "BootstrapIndex";
}
<style>
    i {
        font-style: normal;
    }
</style>
<h1>Bootstrap練習</h1>

<div class="alert alert-primary">卡片教學</div>
<div class="container">
    <div class="row offset-md-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Card元件 - 神力女超人 Wonder Woman
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="/images/wonderwoman.jpg" alt="" />
                    <p class="card-text">
                        《神力女超人》是由美國漫畫大廠DC Comics推出的年度大作，由
                        蓋兒加朵飾演亞馬遜族的公主戴安娜，自幼生長在與世隔絕的天堂島，
                        當她得知世界正經歷一場大戰，她決定挺身而出為正義而戰。
                    </p>
                    <a href="http://bit.ly/2ZzJpYb" class="btn btn-primary">詳細資訊</a>
                </div>
                <div class="card-footer text-muted">
                    蓋兒·加朵主演
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="alert alert-primary">字體圖標</div>
<div>
    <i class="bi-alarm" style="color: red;font-size: 2rem;"></i>
    <i class="bi bi-alarm-fill"></i>
</div>

<hr />

<div class="alert alert-primary">Carousel元件</div>
<div id="carouselControlID" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselControlID" data-bs-slide-to="0" class="active"
                aria-current="true"
                aria-label="馬爾代夫"></button>
        <button type="button" data-bs-target="#carouselControlID" data-bs-slide-to="1" aria-label="加拿大"></button>
        <button type="button" data-bs-target="#carouselControlID" data-bs-slide-to="2" aria-label="溫哥華"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
            <img src="../images/Maldives.jpg" class="d-block w-100" alt="馬爾代夫">
        </div>
        <div class="carousel-item" data-bs-interval="1000">
            <img src="../images/Canada.jpg" class="d-block w-100" alt="加拿大">
        </div>
        <div class="carousel-item" data-bs-interval="1000">
            <img src="../images/Vancouver.jpg" class="d-block w-100" alt="溫哥華">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControlID" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControlID" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<hr />

<div class="alert alert-primary">Input-group元件</div>
<div class="input-group mb-3">
    <span class="input-group-text"><i class="bi bi-person"></i></span>
    <input type="text" class="form-control" placeholder="請輸入姓名" aria-label="Username">
    <div class="input-group-append">
        <span class="input-group-text">姓名</span>
    </div>
</div>
<div class="input-group mb-3">
    <span class="input-group-text"><i class="bi bi-telephone-fill">電話</i></span>
    <input type="text" class="form-control" placeholder="請輸入電話" aria-label="Telephone">
</div>

<hr />

<div class="alert alert-primary">字體顏色</div>
<!--內建Color顏色-->
<p class="text-primary">.text-primary</p>
<p class="text-secondary">.text-secondary</p>
<p class="text-success">.text-success</p>
<p class="text-danger">.text-danger</p>
<p class="text-warning">.text-warning</p>
<p class="text-info">.text-info</p>
<p class="text-light bg-dark">.text-light</p>
<p class="text-dark">.text-dark</p>
<p class="text-body">.text-body</p>
<p class="text-muted">.text-muted</p>
<p class="text-white bg-dark">.text-white</p>
<p class="text-black-50">.text-black-50</p>
<p class="text-white-50 bg-dark">.text-white-50</p>

<!--link with color-->
<p><a href="#" class="text-primary">Primary link</a></p>
<p><a href="#" class="text-secondary">Secondary link</a></p>
<p><a href="#" class="text-success">Success link</a></p>
<p><a href="#" class="text-danger">Danger link</a></p>
<p><a href="#" class="text-warning">Warning link</a></p>
<p><a href="#" class="text-info">Info link</a></p>
<p><a href="#" class="text-light bg-dark">Light link</a></p>
<p><a href="#" class="text-dark">Dark link</a></p>
<p><a href="#" class="text-muted">Muted link</a></p>
<p><a href="#" class="text-white bg-dark">White link</a></p>

<br />
<!--Contextual backgrounds情境背景顏色-->
<p class="bg-primary text-white p-3 mb-1">天地玄黃 宇宙洪荒 日月盈昃 辰宿列張 寒來暑往</p>
<p class="bg-success p-3 mb-1">秋收冬藏 閏餘成歲 律呂調陽 雲騰致雨 露結為霜</p>
<p class="bg-info p-3 mb-1">金生麗水 玉出崑岡 劍號巨闕 珠稱夜光 果珍李柰</p>
<p class="bg-warning text-white p-3 mb-1">菜重芥薑 海鹹河淡 麟潛羽翔 龍獅火帝 鳥官人皇</p>
<p class="bg-danger p-3 mb-1">始制文字 乃服衣裳 推位讓國 有虞陶唐 弔民伐罪</p>

<!--Text文字對齊-->
<div class="alert alert-primary">Text文字</div>

<p class="text-left">文字靠左對齊</p>
<p class="text-center">文字置中對齊</p>
<p class="text-right">文字靠右對齊</p>
<p class="text-justify">文字左右對齊 -- 天地玄黃。宇宙洪荒。日月盈昃。辰宿列張。寒來暑往。秋收冬藏。閏餘成歲。律呂調陽。雲騰致雨。露結為霜。</p>
<p class="text-nowrap">文字不換行 -- 天地玄黃。宇宙洪荒。日月盈昃。辰宿列張。寒來暑往。秋收冬藏。閏餘成歲。律呂調陽。雲騰致雨。露結為霜。</p>

<!-- Modal對話視窗 -->
<!-- Button trigger modal -->
<div class="alert alert-primary">Modal對話視窗</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalControl">
    開啟Modal
</button>

<!-- Modal -->
<div class="modal fade $modal-fade-transform: scale(3)" id="ModalControl" tabindex="-1" aria-labelledby="ModalControlLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal標題</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
                        <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            Level 1: .col-sm-9
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    Level 2: .col-8 .col-sm-6
                                </div>
                                <div class="col-4 col-sm-6">
                                    Level 2: .col-4 .col-sm-6
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">儲存</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<hr />

<!--Table表格-->
<div class="alert alert-primary">Table表格</div>

<table class="table table-bordered table-striped table-hover">
    <thead class="text-white bg-primary">
        <tr>
            <th>產品名稱</th>
            <th>產品編號</th>
            <th>容量</th>
            <th>單價</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>INTEL Intel 600P 512G SSD</td>
            <td>SSDPEKKW512G7X1</td>
            <td>512GB</td>
            <td>5,499</td>
        </tr>
        <tr>
            <td>Kingston 240G SSD</td>
            <td>HyperX Savage SHSS37A</td>
            <td>240GB</td>
            <td>3,645</td>
        </tr>
        <tr>
            <td>Micron Crucial 525GB SSD </td>
            <td>MX300</td>
            <td>525GB</td>
            <td>4,588</td>
        </tr>
    </tbody>
    <tfoot class="bg-info">
        <tr>
            <td colspan="4" class="text-center">SSD固態硬碟</td>
        </tr>
    </tfoot>
</table>

<!--Dropdown元件-->
<div class="alert alert-primary">Dropdown元件</div>

<div class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        3C電子產品下拉選單
    </button>
    <ul class="dropdown-menu bg-info">
        <li><a class="dropdown-item" href="#">PC電腦</a></li>
        <li><a class="dropdown-item" href="#">LCD螢幕</a></li>
        <li><a class="dropdown-item" href="#">數位相機</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">手機</a></li>
        <li><a class="dropdown-item" href="#">平板電腦</a></li>
    </ul>
</div>