@{
    ViewData["Title"] = "BootstrapIndex";
}
</style>
<h1>Bootstrap練習</h1>
<h2>卡片教學</h2>
<div class="container">
    <div class="row offset-md-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Card元件 - 神力女超人 Wonder Woman
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="/images/wonderwoman.jpg" alt="" />
                    <p class="card-text">
                        《神力女超人》是由美國漫畫大廠DC Comics推出的年度大作，由
                        蓋兒加朵飾演亞馬遜族的公主戴安娜，自幼生長在與世隔絕的天堂島，
                        當她得知世界正經歷一場大戰，她決定挺身而出為正義而戰。
                    </p>
                    <a href="http://bit.ly/2ZzJpYb" class="btn btn-primary">詳細資訊</a>
                </div>
                <div class="card-footer text-muted">
                    蓋兒·加朵主演
                </div>
            </div>
        </div>
    </div>
</div>